ansible/*.retry
/scenarios/**/results*/*
/scenarios/**/tmp/*
/scenarios/**/*.log
/scenarios/**/*.pyc
/scenarios/**/.tkenvrc
/scenarios/**/.qtenvrc
!/scenarios/**/.gitkeep
src/artery/messages/*_m.cc
src/artery/messages/*_m.h
www/
.vagrant/
build/


